/dist
/tmp
/out-tsc
/node_modules
.angular/cache
.sass-cache/
/coverage
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
Thumbs.db
*.log

.claude/
CLAUDE.md
src/environments/environment.ts
src/environments/environment.development.ts
