<div
  class="form-input-wrapper form-input-wrapper--trailing"
  [class.form-input-wrapper--leading]="leadingIcon()"
>
  @if (leadingIcon(); as icon) {
    <img class="form-input-icon" [src]="icon" alt="" aria-hidden="true" />
  }
  <input
    [id]="inputId()"
    class="form-input"
    [type]="isVisible() ? 'text' : 'password'"
    [placeholder]="placeholder()"
    [attr.autocomplete]="autocomplete()"
    [value]="value()"
    [disabled]="isDisabled()"
    [attr.aria-describedby]="describedBy()"
    [attr.aria-invalid]="isInvalid()"
    (input)="handleInput($event)"
    (focus)="handleFocus()"
    (blur)="handleBlur()"
  />
  <button
    class="form-input-action"
    type="button"
    [attr.aria-label]="toggleLabel()"
    [attr.aria-pressed]="isVisible()"
    (mousedown)="keepFocus($event)"
    (click)="toggleVisibility()"
  >
    <img [src]="toggleIcon()" alt="" aria-hidden="true" />
  </button>
</div>
