@use 'variables' as v;

:host {
  display: contents;
}

.legal-notice__title {
  color: v.color('primary');
  margin-top: v.space('md');
}

.legal-notice__section {
  display: flex;
  flex-direction: column;
  gap: v.space('md');
  align-self: stretch;
}

.legal-notice__subtitle {
  color: v.color('primary');
  font-size: v.font-size('h3');
  margin-top: v.space('lg');
}

.legal-notice__address {
  font-style: normal;
  line-height: v.$line-height-base;
}
