@if (replyRef(); as ref) {
  @if (available()) {
    <button
      class="reply-quote reply-quote--link"
      type="button"
      [attr.aria-label]="'Zur Nachricht von ' + authorName() + ' springen'"
      (click)="focusOriginal()"
    >
      <img class="reply-quote__icon" src="app-icons/back-arrow.svg" alt="" aria-hidden="true" />
      <span class="reply-quote__author">{{ authorName() }}</span>
      <span class="reply-quote__text">{{ ref.previewText }}</span>
    </button>
  } @else {
    <p class="reply-quote reply-quote--missing">
      <img class="reply-quote__icon" src="app-icons/back-arrow.svg" alt="" aria-hidden="true" />
      <span class="reply-quote__text">Nachricht nicht mehr verfügbar</span>
    </p>
  }
}
