@use 'variables' as v;
@use 'presence' as p;

:host {
  @include p.presence-shape-base;

  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: min(#{v.$presence-dot-ratio}, #{v.$presence-dot-max});
  border: v.$presence-dot-ring solid v.color('white');
}

:host(.presence-dot--away) {
  @include p.presence-shape-away;
}

:host(.presence-dot--busy) {
  @include p.presence-shape-busy;
}

:host(.presence-dot--offline) {
  @include p.presence-shape-offline;
}
