@use 'variables' as v;

:host {
  display: contents;
}

.privacy-policy {
  h2 {
    color: v.color('primary');
    font-size: v.font-size('h3');
    margin-top: v.space('md');
  }

  p {
    overflow-wrap: break-word;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: v.space('md');
    align-self: stretch;
  }
}

.privacy-policy__title {
  color: v.color('primary');
}
