@use 'variables' as v;

.search-view__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: v.space('md');
}

.search-view__title {
  font-size: v.font-size('h3');
  font-weight: v.$font-weight-bold;
  color: v.color('black');
}
