@use 'variables' as v;

:host {
  display: contents;
}

.forgot-card {
  display: flex;
  flex-direction: column;
  gap: v.space-fluid('lg', 'xl-xxl');
  text-align: center;
}

.forgot-card__title {
  color: v.color('primary');
}

.forgot-card__form {
  display: flex;
  flex-direction: column;
  gap: v.space-fluid('md', 'xl');
}

.forgot-card__hint {
  color: v.color('text-gray');
}

.forgot-card__actions {
  display: flex;
  align-items: center;
  gap: v.space('md');

  .form-error {
    flex: 1;
    text-align: left;
  }
}
